*{
 margin: 0%;
 padding: 0%;
 box-sizing: border-box;
}
section{
    display: flex;
    flex-wrap: wrap;
}

section img{ 
    width: 20%;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px #a2a0a0 ;
}